.jumbotron h1 {
  text-align:center;
  font-family: serif;
  font-size: 70px;
  fo
  }

.jumbotron p {
  padding: 30px;
  font-family: serif
}
body {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}
.jumbotron .btn {
  position: right;
}
.col-md-4 img {
  width: 100%;
  height: 300px;
}
.col-md-4 h3 {
  text-align: center;
}

.col-md-4 {
  padding-left: 2%;
  width:33%;
}
.row {
  margin: 2%
}

.jumbotron {
  margin-top: 5%;
}

.brdrd {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
